{{!< default}}
<!---
<div class="container">
	<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		<p>This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.</p>
		<p>
			It includes the latest versions of
			<a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		</p>
		<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>
		<hr>
		<p>We have created a default Admin user for you with the email <strong>admin@keystone.com</strong> and the password <strong>1234</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
		<p>
			Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
		</p>
	</div>
</div>
        <div class="Index-page-content ">
          <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1513308617482" id="page-5a0ce51e53450a1decb68b25"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="5.45144804088586" data-block-type="21" id="block-yui_3_17_2_6_1510794056064_10742"><div class="sqs-block-content">&nbsp;</div></div><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_5_1510794056064_40263"><div class="sqs-block-content"><h1 class="text-align-center">OUR PROCESS IS SIMPLE.</h1><p> </p></div></div><div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="1.8835616438356164" data-block-type="21" id="block-yui_3_17_2_42_1512088776523_14696"><div class="sqs-block-content">&nbsp;</div></div></div></div><div class="row sqs-row"><div class="col sqs-col-4 span-4"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-56a150c569a91a4c4fe1b9ab"><div class="sqs-block-content"><h1>FIT</h1><h1><strong>–</strong></h1><p>We believe that achieving the ideal fit is crucial to how you look and feel in your suit, regardless of your size or shape. We begin with an in-person appointment with one of our team, expertly trained by P Johnson.&nbsp;The fitting takes around 45 minutes. <a href="/about-us">Read more about our process.&nbsp;</a></p></div></div></div><div class="col sqs-col-4 span-4"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_5_1510794056064_25119"><div class="sqs-block-content"><h1>DESIGN</h1><h1><strong>–</strong></h1><p>With a carefully curated selection of the finest Italian fabrics and canvassing and an infinite range of design options, our tailors are here to give you the best possible advice and service to ensure a strong, balanced and comfortable look. Our team will work with you to build your ideal wardrobe, making the process of getting dressed effortless and enjoyable.&nbsp;</p></div></div></div><div class="col sqs-col-4 span-4"><div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_5_1510794056064_18409"><div class="sqs-block-content"><h1>COLLECT</h1><h1><strong>–</strong></h1><p>With your measurements, pattern and style choices noted at our cutting room, your suit is constructed at our cutting edge workshop in China, and will be ready for collection in just 4-6 weeks. After this, we conduct a second fitting and can make adjustments as required at no charge, to ensure a faultless finish.</p></div></div></div></div><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block spacer-block sqs-block-spacer" data-aspect-ratio="0.17035775127768313" data-block-type="21" id="block-yui_3_17_2_9_1512088776523_13297"><div class="sqs-block-content">&nbsp;</div></div><div class="sqs-block button-block sqs-block-button" data-block-type="53" id="block-yui_3_17_2_5_1510794056064_9536"><div class="sqs-block-content">
<div class="sqs-block-button-container--center" data-alignment="center" data-button-size="medium">
	<a href="https://pjohnson.gettimely.com/book?category=74650" class="sqs-block-button-element--medium sqs-block-button-element" >BOOK AN APPOINTMENT </a>
</div></div></div><div class="sqs-block spacer-block sqs-block-spacer sized vsize-1" data-block-type="21" id="block-yui_3_17_2_19_1510794056064_9345"><div class="sqs-block-content">&nbsp;</div></div></div></div></div>
        </div>
 -->